/* Selector Universal */

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Selector Etiqueta */


h1 {
    background-color: red;
    color: white;
    padding: 10px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: green;
}

/* Selector id */

#descripcion {
    border: 5px solid black;
    padding: 15px;
}

/* Selector de clases */

.parrafo {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    margin: 10px;

}

#usuario form {
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;

}

#usuario form * {
    display: block;
}

/* Selector por atributo */

input[type="text"] {
    margin-bottom: 15px;
    padding: 10px;
    width: 200px;
}

input[type="submit"]{
    background: green;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
}

/* Selectores hijos */

#menu > li > a {
    font-size: 18px;
    color: red;
    text-decoration: none;

}

/* Especificidad */

h1 {
    background: purple !important;
}

#saludo h1 {
    background: brown;
}
    

