/* Lab-2
Diseñar un grid de 2x2 donde los ítems se ubiquen en la esquina inferior derecha del contenedor
el contenedor debe de estar centrado */


:root {
    --principal-bg: #fcffe1;
    --light-green: greenyellow;
    --mediun-green:#72cb10;
    --high-green: #419f00;
    --flag-green: #337900;
}



body {
    background-color: var(--principal-bg);
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 20px;
   
}

.contenedor {
    background-color: var(--light-green);
    display: grid;
    gap: 30px;
    grid-template-columns: 150px 150px;
    grid-auto-rows: 150px;
    height: 400px;
    width: 400px;
    place-content: center;
}
    
.item {
    color: white;
    font-weight: 600;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #009933;
    font-size: 4rem;
    display: grid;
    place-items: end;
}

.item span {
    background-color: green;
    width: 50px;
    text-align: center;
}
   
   
    
    

    
    
    
    
    





    
   
    

   


    