* {
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
}

#cajas {
    max-width: 1035px;
    border: 1px solid black;
}




.caja {
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border: 5PX solid black;
    margin: 35px 15px 35px 15px;
    padding: 20px;
    float: left;
}


p{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 235px;
}

.clearfix {
   float: none;
   clear: both;
   
}
    

