/* Lab-4

Funciones especiales 

minmax: ayuda a declarar el tamaño minimo y maximo para el ancho y alto de una celda, sin depender del contenido que tengamos en ella

repeat : se usa cuando todas las columnas o filas tienen el msmo ancho y evitar repetir el tamaño de las columnas

*/


:root {
    --principal-bg: #fcffe1;
    --light-green: greenyellow;
    --mediun-green:#72cb10;
    --high-green: #419f00;
    --flag-green: #337900;
}

.contenedor {
    border: 1px solid black;
    background-color: var(--principal-bg);
    display: grid;
    grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px);
    grid-template-rows: repeat(3, auto);
    
}
   
    
.item {
    border: 5px solid black;
    font-size: 3rem;
}