/* Lab-1
Diseñar un grid de tres filas y dos columnas con un gap de 20px entre ellas
Los numeros de los itemns deben de coincidir entre ellas */


:root {
    --principal-bg: #fcffe1;
    --light-green: greenyellow;
    --mediun-green:#72cb10;
    --high-green: #419f00;
    --flag-green: #337900;
}



.contenedor {
    
    background-color: var(--principal-bg);
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center;
    /* place-content: center;  alinea el contenido en los dos ejes */
    margin: 20px;
    padding: 20px;
}
    

.item {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--mediun-green);
    font-size: 4rem;
    display: grid;
    justify-items: end;
    align-items: end;
}

.item:nth-child(1),:nth-child(4) {
    background-color: var(--light-green);
}

.item:nth-child(3),:nth-child(6) {
    background-color: var(--high-green);
}

span {
    color: #fff;
    font-weight: 600;
    bottom: 0;
    background-color: var(--flag-green);
    justify-items: end;
    align-items: end;
    width: 50px;
    text-align: center;
}



    
   
    

   


    